  /*kuvien muokkaus koodit */

.image-button img {
  width: 100%;
  max-width: 200px;   
  height: 150px;      
  object-fit: cover;  
  border-radius: 10px;
}
  /* asettaa kuvat keskelle */

.image-answers {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.quiz-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-home {
  display: flex;
  justify-content: center; /* Keskittää vaakasuunnassa */
  align-items: center;     /* Keskittää pystysuunnassa */
  min-height: 80vh;        /* Vie vähintään 80% näytön korkeudesta */
  padding: 20px;
}